/*#bibinput { 
    font-family: Consolas, Lucida Console, monospace; 
}*/

.error-entry {
    font-family: Consolas, Lucida Console, monospace; 
    cursor: pointer;
}

/*.error-entry::after {
    content: "\a";
    white-space: pre;
}*/

.styled-background {
    background-color: aqua;
}